.head {
	position: absolute;
	background-color: var(--color-ternary);
	width: calc(100% - var(--width-type-1));
	height: 60px;
	top: 0;
	right: 0;
	padding: 10px 20px;
	color: var(--white);
	font-size: 18px;

	.information {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		cursor: pointer;

		.name {
			margin-right: 20px;
		}

		svg {
			fill: var(--white);
			width: 30px;
			height: 30px;
		}

		.drop_menu {
			position: absolute;
			background-color: var(--color-secondary);
			padding: 20px;
			border-radius: 4px;

			bottom: -70px;
			opacity: 0;
			transition: var(--transition-1);
			pointer-events: none;

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: -10px;
				width: 0;
				height: 0;
				border: 8px solid transparent;
				border-top: 0;
				border-bottom: 15px solid var(--color-secondary);
			}

			button {
				border: none;
				background: unset;
				color: var(--white);

				&:hover {
					color: var(--color-main);
				}
			}
		}

		&:hover .drop_menu {
			opacity: 1;
			pointer-events: auto;
		}
	}
}
