.button {
	color: var(--white);
	cursor: pointer;
	font-family: 'Cormorant Garamond', serif;
	font-size: 16px;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	margin-bottom: 0;
	padding: 12px 23px;
	background: var(--bg-main);
	text-transform: uppercase;
	letter-spacing: 1px;

	transition: var(--transition-1);

	&:hover {
		background: #fff;
		border-color: #fff;
		color: #dba765;
	}
}
