:root {
	// Colors
	--bg-main: #dba765;
	--bg-secondary: #ffa42d;
	--bg-ternary: #f8f5f0;

	--color-main: #ebebeb;
	--color-secondary: #8e8e8e;
	--color-ternary: #4d4d4d;

	--sizzling-sunrise: #f9d81a;
	--scarlet: #eb3705;
	--black: #000000;
	--white: #ffffff;

	// Fonts
	--ff-type-1: 'Josefin Sans', sans-serif;
	--ff-type-2: 'Cormorant Garamond', serif;

	// Spacing
	--section-padding: 80px;

	// Typography
	--fs-1: 2rem;
	--fs-2: calc(1.813rem + 1vw);
	--fs-3: calc(1.313rem + 1vw);
	--fs-4: 1.4rem;
	--fs-5: 1rem;
	--fs-6: 0.813rem;
	--fs-7: 0.75rem;

	// Font Weight
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	// Transition
	--transition-1: 0.2s ease-in-out;
	--transition-2: 0.5s ease-in-out;

	// Widths
	--width-type-1: 220px;
}
